name: Java CI

on: [push]

jobs:
  test:
    name: "Test"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 21
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml
